<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Super Alarm Clock</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body class="text-center">
        <form class="form-signin" method="POST">
            <div class="col-sm-15">
                <h2 class="mb-2">Super Alarm Clock</h2><br>
                <div>
                    <p>
                        Snooze minutes (0-30): <input value="10" type="number" min="0" max="30" name="snooze_minutes">
                    </p>
                    <p>
                        Wake me up at: <input value="10:00" type="time" name="wakeup_time"><br>
                        *When calendar option is on, Use this hour when there is no internet connection.
                    </p>
                </div>
                <div class="custom-control custom-switch">
                    <p>
                        <input type="checkbox" class="custom-control-input" id="wakeup_time_from_calendar" name="wakeup_time_from_calendar">
                        <label class="custom-control-label" for="wakeup_time_from_calendar">Wake me up by my google calendar events time.</label>
                    </p>
                </div>
                <div id="by_hand_wakeup_form">
                </div>
                <div class="text-left" id="calendar_wakeup_form">
                    <p>
                        My morning starts at: <input value="05:00" type="time" name="morning_start_time">
                    </p>
                    <p>
                        My morning ends at: <input value="14:00" type="time" name="morning_end_time">
                    </p>
                    <p>
                        Wake me up at (0-180) - <input value="60" type="number" min="0" max="180" name="alarm_minutes_before_event"> - minutes before my first event in the morning.
                    </p>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </body>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/toggle_time_forms.js"></script>
</html>