<html>
    <head>
        <title>Snooze - Super Alarm Clock</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            h5 {padding-top: 10px;}
        </style>
    </head>
    <body class="text-center">
        <h5>SNOOZE</h5><br>
        <button id="snooze" type="button" class="btn btn-primary">Snooze</button>
        <button id="dismiss" type="button" class="btn btn-primary">Dismiss</button>
        <script src="js/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script>
            $('#snooze').click(function(){
                $.post('/snooze')
            })
            $('#dismiss').click(function() {
                $.post('/dismiss')
            })
        </script>
    </body>
</html>