body {
  height: 100%;
}

body {
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #2f1b3f;
  color: white;
}

input {
  color: black;
  border-radius: 7px;
}

.form-signin {
    max-width: 500px;
    margin: auto;
  }

.bootstrap-datetimepicker-widget {
  color: black;
}
